:root {
    --logo-color: #2196F3;
    --title-button-color: #212121;
    --paragraph-color: #757575;
    --light-color: #FFFFFF;
    --tel-color: rgba(255, 255, 255, 0.6);
    --background-color: #E5E5E5;
    --footer-background-color: #2F303A;
    --button-background-color: #F5F4FA;
    --background-subject--color: #2F303A;
    --background-section-color: #F5F4FA;
}
/* Верх*/
body {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14; 
    color: var(--title-button-color);
    background: var(--light-color);
    letter-spacing: 0.02em;
}
a {
    text-decoration: none;
    color: inherit;
}
ul,li {
    list-style: none;
}
button {
    font-family: 'Roboto';
    font-style: normal;
    cursor: pointer;
     font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    color: var(--title-button-color);
    letter-spacing: 0.06em;
    background: var(--button-background-color); 
}
.logo {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    color: var(--logo-color);
    letter-spacing: 0.03em;
}
.button {
    background: var(--logo-color);
}

button:hover,
button:focus {
    color: var(--light-color);
    background: var(--logo-color);
}


.class {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    color: var(--title-button-color);
    letter-spacing: 0.03em;
}
.accent {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--title-button-color)}
   
.accent:hover {
    color: var(--logo-color);
}
.accent:focus{
    color: var(--logo-color)
}
.accent-on {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14px;
    letter-spacing: 0.02em;
    color: var(--paragraph-color);
    }
    .accent-on:hover {
        color: var(--logo-color);
    }
    
    .accent-on:focus {
        color: var(--logo-color)
    }

/*Тіло*/
/* Серед
ина портфоліо*/
.caption
{font-weight: 700;
font-size: 18px;
line-height: 2;
letter-spacing: 0.03em;
color: var(--title-button-color);}

.subtitle {
font-weight: 400;
font-size: 16px;
line-height: 1.88;
letter-spacing: 0.03em;
color: var(--paragraph-color);}
/*Середина основної сторінки секція 1*/
.subject {
   font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
   color: var(--light-color);
text-transform: uppercase;
background: var(--background-subject--color)
}
/*Секція2*/
.headline {
font-weight: 700;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.03em;
text-transform: uppercase;
color: var(--title-button-color);
}
.text {
font-weight: 400;
font-size: 14px;
line-height: 1.71px;
letter-spacing: 0.03em;
color: var(--paragraph-color);
}

/*Секція з*/
.sec-title {
font-weight: 700;
font-size: 36px;
line-height: 1.16;
letter-spacing: 0.03em;
color: var(--title-button-color);
background: var(--background-section-color)}

/*Секція 4*/
.heading {
font-weight: 500;
font-size: 16px;
line-height: 1.19;
letter-spacing: 0.03em;
color: var(--title-button-color);
background: var(--light-color);
}

.supheading {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--paragraph-color);
    background: var(--light-color)
    }

/*Футер*/
footer {
background: var(--background-subject--color)}
a {
    color: var(--light-color);
}
.logo-one {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--logo-color);

}
.accent-one {
    color: var(--light-color);

}
address {
    cursor:none;
     font-style: normal;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color: var(--light-color);
}
.accent-one {
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;  
    letter-spacing: 0.03em;
    color: var(--tel-color)
}
.spanfooter {
    color: var(--light-color);

}






